In [1]:
import pandas as pd
ruta = "/home/patricio/Escritorio/CURSO PYTHON DALTO/0029 al ---- - Tercera Parte/0033 - archivos_planos_csv/datos.csv"
# codificacion = "UTF-8"
archivo = pd.read_csv(ruta)
archivo

                  nombre          apellido  edad
0     Patricio Sebastian      Prieto Garay    48
1  Maria de las Mercedes   Rimoli Echarren    44
2                   Pepe           Argento    58

In [2]:
import pandas as pd
ruta = "/home/patricio/Escritorio/CURSO PYTHON DALTO/0029 al ---- - Tercera Parte/0033 - archivos_planos_csv/datos.csv"
# codificacion = "UTF-8"
archivo = pd.read_csv(ruta)
print(archivo)

                  nombre          apellido  edad
0     Patricio Sebastian      Prieto Garay    48
1  Maria de las Mercedes   Rimoli Echarren    44
2                   Pepe           Argento    58